<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/reserve_mainpage_style2.css" %}">
  </head>
  <body>
    <main>
       <button class="theme_button" type="button">Создать тред</button>


      <form action = "{% url 'add_post' %}" method ="post" class="post-form hide">
        {% csrf_token %}
        <button class="post-button" type="submit">Отправить</button>
        <div class="post-name">
          <input type="text" class="post-name" value="" placeholder="тема" required id="post-name" name = "post_name">
        </div>
        <div class="post-inner">
           <p><textarea rows="10" cols="100" name="text" placeholder="Комментарий, макс. длина 15000 символов"></textarea> name = "post_content" </p>
        </div>
      </form>



      {% for tred in tred_list %}
        <div class="post">
          {{  tred.post_content }}
        </div>
      {% endfor %}



    </main>
      <script type="text/javascript" src={% static "js/create_theme.js" %}></script>
  </body>
</html>
