<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/comments_style.css" %}">
  </head>
  <body>
    <main>
      <p>  <a href="/"> На главную </a> </p>
      <h2>{{  post.post_name }}</h2>
      <div class="post">
        <p>{{  post.post_content }}</p>
      </div>
      <h3>Комментарии</h3>
      <div class="comments-space">
        <ol class="comment-list">

          {% for comment in post.comment_set.all %}
            <li class="user-comment">{{  comment.comment_content }}</li>
          {% endfor %}

          <li class="user-comment">Лучше убей себя…</li>

          <li class="user-comment">Лучше убей себя…</li>

          <li class="user-comment">Лучше убей себя…</li>
        </ol>
      </div>

      <form class="comment-form">
        <div class="comment-inner">
          <input type="text" class="comment-field" value="" placeholder="Комментарий" required id="comment-input">
        </div>
        <button class="button" type="submit">Отправить</button>
      </form>

      <script type="text/javascript" src={% static "js/send_comment.js" %}></script>
    </main>
  </body>
</html>
