<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/comments_style.css" %}">
  </head>
  <body>
    <main>
      <p>  <a href="/"> На главную </a> </p>
      <h2>{{  tred.tred_name }}</h2>
      <div class="post">
        <p>{{  tred.tred_content }}</p>
      </div>
      <h3>Комментарии</h3>
      <div class="comments-space" >
        <ol class="comment-list" id="commentList">
          {% for comment in tred.comment_set.all %}
            <li class="user-comment" id = {{  comment.full_path }}>
              <p> {{  comment.comment_date }} </p>
              <p> {{  comment.comment_content }} </p>
              <button class="answer-button" type="button">Ответить</button>
            </li>
          {% endfor %}

        </ol>
      </div>

      <form action = "{% url 'add_comment' tred.id %}" method ="post" class="comment-form">
        {% csrf_token %}
        <div class="comment-inner">
          <input type="text" class="comment-field" value="" placeholder="Комментарий" name = "comment_content">
        </div>
        <button class="button" type="submit">Отправить</button>
      </form>

    </main>
      <script type="text/javascript" src={% static "js/sort_comments.js" %}></script>
      <script type="text/javascript" src={% static "js/move_comments_reserve.js" %}></script>
  </body>
</html>
