<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/comments.css" %}">
  </head>
  <body>
    <main>
      <p>  <a href="/"> На главную </a> </p>

      <div class="b-popup">
        <div class="b-popup-content">
          <p> Ответить в тред </p>
          <form action = "{% url 'add_comment' tred.id %}" method ="post" class="comment-form" id="formComment">
            {% csrf_token %}
            <input type="hidden" name ="parent" id="commentparent" value="">
              <div class="comment-inner">


                <p><textarea rows="10" cols="35" placeholder="Комментарий" name = "comment_content" ></textarea> </p>
              </div>
              <button class="button" type="submit">Отправить</button>
          </form>
        </div>
      </div>

      <h2>{{  tred.tred_name }}</h2>
      <div class="post">
        <p>{{  tred.tred_content }}</p>
      </div>
      <h3>Комментарии</h3>
      <div class="comments-space hide" >
        <ol class="comment-list" id="commentList">
          {% for comment in tred.comment_set.all %}
            <li class="user-comment" id = {{  comment.full_path }}>
              <p> {{  comment.comment_date }} </p>
              <p> {{  comment.comment_content }} </p>
              <a href="#formComment" onclick="addComment('{{ comment.full_path }}')">Ответить</a>
            </li>
          {% endfor %}

        </ol>
      </div>



    </main>

      <script type="text/javascript" src={% static "js/sort_comments.js" %}></script>
      <script type="text/javascript" src={% static "js/move_comments.js" %}></script>
  </body>
</html>
