<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href={% static "css/style.css" %}>
  </head>
  <body>
    <main>
      <post>
        <h1>Название темы</h1>
        <p>Завтра ищешь в интернете книжку Dive into python. Похуй если ничего не поймешь. Затем идешь на python.org и
          изучаешь стандартную библиотеку от корки до корки. Потом зубришь, именно, сука, вызубриваешь конвенцию по
          написанию питоньего кода - PEP8, чтобы от зубов отскакивало. Когда напишешь свою первую имиджборду, по пути
          изучив верстку на html+css, скачиваешь и изучаешь любой питоний асинхронный вебсервер, рекомендую Tornado или
          Gevent. Как переделаешь имиджборду, чтобы выдавала по крайней мере 5 тысяч запросов в секунду, можешь идти
          дальше - тебя ждет увлекательный мир хайлоада. Apache Hadoop, сверхбыстрые асинхронные key-value хранилища,
          MapReduce. Отсос хиккующих выблядков / просто неудачников типа рейфага или сисярп/джава-хуесосов, которые
          сосут хуй по жизни не заставит себя ждать и уже через пол года ты будешь получать такие суммы, что любая баба
          будет течь при одном упоминании твоей зарплаты.</p>
      </post>
      <p>Введите текст ответа</p>
      <input type="text" name="comment">
    </main>
  </body>
</html>
