body {
    padding: 0 30px;
    font-size: 14px;
    line-height: 22px;
    background-color: #f2f0f0;
}

h2 {
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 500px;
    padding-bottom: 12px;
    border-bottom: 1px solid #cccccc;
}

h3 {
    margin-top: 15px;
    margin-left: 500px;
    margin-right: 500px;
    padding-bottom: 12px;
}

.post {
    margin-top: 15px;
    margin-left: 500px;
    margin-right: 500px;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.comment-form {
    margin-left: 500px;
    margin-right: 500px;
    display: flex;
    margin-bottom: 30px;
    padding: 20px 12px;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.comment-inner {
    flex-grow: 1;
    margin-right: 10px;
}


.comment-field {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    background-color: #FFFFFF;
    line-height: 30px;
    border: 1px solid #6653d9;
}


.button {
    border: 1px solid #6653d9;
    color: #FFFFFF;
}

.comments-space{
    margin-top: 15px;
    margin-left: 500px;
    margin-right: 500px;
    background-color: #FFF0F5;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}



.comment-list {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12px;
    margin-left: 500;
    padding: 0;
    list-style: none;
    counter-reset: comments;
    background-color: #FFFFFF;
}

.comment-list li {
    margin-left: 5px;
}

.hide{
    display: none;
}