body {
  padding: 0 30px;
  font-size: 14px;
  line-height: 22px;
  background-color: #f2f0f0;
}

h2 {
  font-size: 15px;
  margin-top: 20px;
  margin-left: 500px;
  margin-right: 500px;
  padding-bottom: 2px;
  border-top: 1px solid #cccccc;
}

h3 {
  margin-top: 15px;
  margin-left: 500px;
  margin-right: 500px;
  padding-bottom: 12px;
}

.post {
  margin-top: 2px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 850px;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}


.theme_button {
  font-size: 25px;
  border: 1px solid #6653d9;
  color: #6653d9;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.post-form {
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 30px;
  padding: 20px 12px;
  display: ;

}

.hide{
  display: none;
}

.post-inner {
  width = 500px;
}