body {
  padding: 0 30px;
  font-size: 14px;
  line-height: 22px;
  background-color: #FFF0F5;
}

nav {
  margin-top: 100px;

  margin-left: 500px;

  margin-right: 500px;

  margin-bottom: 50px;

  background-color: #FFFFFF;

  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
