body {
  padding: 0 30px;
  font-size: 14px;
  line-height: 22px;
  background-color: #FFF0F5;
}

post {
  margin-left: 150px;

  margin-left: 10px;

  margin-bottom: 50px;

  background-color: #FFF0F5;
}
